body{
    background-image: url(./blue.png);
    background-size: cover;
    margin: 3px;
    height: 100%;
    margin-bottom: 50px;
}
table, td{
border: 1px solid white;
border-collapse: collapse;
color: white;
padding: 15px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
input::placeholder{
    text-align: center;
    text-transform: uppercase;
}